Package: beta.simalary.dusk
Name: Dusk (Beta)
Depends: mobilesubstrate
Version: 0.1-beta3
Architecture: iphoneos-arm
Description: Dark Mode for certain applications.
Maintainer: Simalary (Chris) <19harperc@gmail.com>
Author: Simalary (Chris) <19harperc@gmail.com>
Section: Tweaks
